.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 70vh;
  font-size: calc(15px + 3.75vw);
  padding: 0vh 10% 0 10%;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  background: linear-gradient(
      to right,
      rgba(5, 9, 1, 0.65),
      rgba(5, 9, 1, 0.63) 50%,
      rgba(5, 9, 1, 0.65)
    )
    left center/contain repeat;
  background-size: 8vh;
  background-position-y: 50%;
  animation: header-background 2s linear 0s infinite normal forwards;
  -webkit-animation: header-background 2s linear 0s infinite normal forwards;
}
@keyframes header-background {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
@-webkit-keyframes header-background {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.header .header-title {
  animation: title-background 4s ease-in 1s infinite alternate backwards;
  -webkit-animation: title-background 4s ease-in 1s infinite alternate backwards;
  font-family: "Roboto", sans-serif;
  display: inline-block;
  letter-spacing: -2px;
  line-height: 0.5em;
  padding: 0.25em 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(var(--blue)),
    color-stop(var(--blue)),
    color-stop(var(--red)),
    color-stop(var(--red)),
    color-stop(var(--blue)),
    to(var(--blue))
  );
  background-image: linear-gradient(
    90deg,
    var(--blue),
    var(--blue),
    var(--red),
    var(--red),
    var(--blue),
    var(--blue)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 8em;
  z-index: 1;
}
@keyframes title-background {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
@-webkit-keyframes title-background {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.header .header-subtitle {
  -webkit-transform: translateX(0.75em);
  transform: translateX(0.3em);
  line-height: 0.6em;
  font-size: 0.5em;
  display: block;
  color: #ffffff;
  font-weight: bold;
}

.header video {
  position: absolute;
  z-index: -1;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
