<div class="table-of-contents">
  <div class="toc-item green-accent">
    <h2 class="toc-header">Data</h2>
    <p class="toc-text"></p>
    <button class="toc-btn">Interact</button>
  </div>
  <div class="toc-item orange-accent">
    <h2 class="toc-header">Models</h2>
    <p class="toc-text"></p>
    <button class="toc-btn">View More</button>
  </div>
  <div class="toc-item red-accent">
    <h2 class="toc-header">About</h2>
    <p class="toc-text"></p>
    <button class="toc-btn">Details</button>
  </div>
</div>
