<div class="section bg-rb">
  <h1>Step 1: Gather, clean, and recontextualize data</h1>
  <div class="sub-section" style="margin-top: 1em">
    <div class="media" style="width: 35%; margin-left: 12%">
      <img
        src="../../../assets/media/oddsportal.jpeg"
        alt="Odds Portal"
        style="
          width: 100%;
          box-shadow: 0 0 6px 1px var(--blue);
          border-radius: 3px;
        "
      />
    </div>
    <div class="desc-2" style="width: 40%; margin-left: 2%">
      <p>
        Raw data used in this project was gathered from a variety of sources,
        including
        <a href="https://www.oddsportal.com/hockey/usa/nhl/" target="_blank"
          >OddsPortal</a
        >
        and
        <a href="https://moneypuck.com/index.html" target="_blank">MoneyPuck</a
        >, via web scraping and CSV files.
      </p>
      <p>
        Data was cleaned and recontextualized to fit the needs of the project.
        This included parsing data into readable columns, converting data types,
        and merging tables.
      </p>
    </div>
    <div class="desc-1" style="padding-top: 2em">
      <p>
        For example, strings scraped from
        <a href="https://www.oddsportal.com/hockey/usa/nhl/" target="_blank"
          >OddsPortal</a
        >
        representing each game were transformed into .csv files where each row
        corresponded to a team's performance in a game:
      </p>
      <div
        style="
          background-color: var(--secondary);
          padding: 0.25em 0.5em;
          border-radius: 0.5em;
          text-align: center;
          width: 90%;
          margin-left: 5%;
        "
      >
        <p
          style="
            padding: 0em;
            font-style: italic;
            font-size: 0.8em;
            font-weight: 100;
            text-align: center;
            color: var(--orange);
          "
        >
          26 Feb 2023 1 X 2 B's 19:00 Arizona Coyotes Arizona Coyotes 2 – 6
          Nashville Predators Nashville Predators 3.13 4.32 2.00 12
        </p>
        <div class="media">
          <img
            src="../../../assets/media/cleaned-data.jpg"
            alt="Odds Portal"
            style="
              width: 100%;
              box-shadow: 0 0 6px 1px var(--green);
              border-radius: 3px;
            "
          />
        </div>
      </div>
    </div>
  </div>
  <div class="sub-section" style="margin-top: 2em">
    <div class="desc-1">
      At of May 2024, the data used in this project includes all regular season
      games from the 2014-2015 season to the 2022-2023 season.
      <div class="media" style="margin-top: 0.75em">
        <img
          src="../../../assets/media/gpg-by-season.jpg"
          alt="Goals per game by season"
          style="
            width: 100%;
            box-shadow: 0 0 6px 1px var(--red);
            border-radius: 3px;
          "
        />
      </div>
    </div>
  </div>
  <h1>Step 2: Identify the target independent variable(s)</h1>
  <div class="sub-section">
    <div class="desc-1">
      <p>
        Every NHL game has
        <i class="text-shadow-purple">three-way moneyline odds</i>, meaning the
        odds of each team winning, losing, or tying the game at the end of
        regulation time. Instead of predicting the implied chance of each
        occurance, it was more accurate to predict the
        <i class="text-shadow-purple"> implied profit percentage:</i>
      </p>
    </div>
    <div class="media">
      <img
        src="../../../assets/media/profit-by-team.jpg"
        alt="Profit by team"
        style="
          width: 100%;
          box-shadow: 0 0 6px 1px var(--orange);
          border-radius: 3px;
        "
      />
    </div>
    <div class="desc-1" style="margin: 1em 0em">
      <p>
        Having cleaned and recontextualized the data for each team's game
        statistics, my dataset included 117 features for each team's performance
        in a game. You can download a sample of the baseline data for the
        2022-23 season
        <a href="../../../assets/data/PER_GAME_BY_TEAM_5on5_2022.csv" download
          >here</a
        >. More info on variables can be found
        <a href="https://moneypuck.com/glossary.htm" target="_blank">here</a>.
      </p>
    </div>
    <div class="media" style="width: 100%">
      <img
        src="../../../assets/media/per-game-by-team-snippet.jpeg"
        alt="Per game by team snippet"
        style="
          width: 100%;
          box-shadow: 0 0 6px 1px var(--blue);
          border-radius: 3px;
        "
      />
    </div>
  </div>
  <h1>Step 3: Create custom dependent variables</h1>
  <div class="sub-section">
    <div class="desc-2" style="width: 30%; margin: 0px 0vw 0px 8vw">
      <h3 class="text-shadow-green">Rolling Averages</h3>
      <p>
        In addition to using the stats from the previous game to determine
        implied profit, I transformed the data to account for each team's
        averages in each numerical stat over previous X games.
      </p>
      <h3 class="text-shadow-green">Rolling Tragectory</h3>
      <p>
        Using rolling averages, I calculated the difference between each team's
        performance in a given stat in the previous X games and the average of
        that stat over the previous (larger) Y games.
      </p>
    </div>
    <div class="media" style="width: 50%; margin: 2em 4vw">
      <img
        src="../../../assets/media/rolling-8.jpg"
        alt="Rolling averages"
        style="
          width: 100%;
          box-shadow: 0 0 6px 1px var(--green);
          border-radius: 3px;
        "
      />
    </div>
    <div class="media" style="width: 55%; margin: 0px 2vw">
      <img
        src="../../../assets/media/car-bos-powerranks-2022.png"
        alt="Rolling averages"
        style="
          width: 100%;
          box-shadow: 0 0 6px 1px var(--yellow);
          border-radius: 3px;
        "
      />
    </div>
    <div class="desc-2" style="width: 25%; margin: 0px 4vw">
      <h3 class="text-shadow-green">Power Rankings</h3>
      <p>
        Each team's average odds vs. every other team. Initially calculates
        average odds across all games against each particular opponent, sums
        those calculated averages, and divides by number of opponents faced over
        the given sample's timespan.
      </p>
    </div>
    <div class="desc-1" style="margin: 1em 0em; font-style: italic">
      Read about additional custom variables
      <a
        href="https://github.com/mpb9/nhl-model/blob/master/README.md"
        target="_blank"
        >here</a
      >.
    </div>
  </div>
</div>
