.text-shadow-blue {
  text-shadow: 1px 0em 0.1em var(--blue-accent);
}
.text-shadow-red {
  text-shadow: 1px 0em 0.1em var(--red-accent);
}
.text-shadow-green {
  text-shadow: 1px 0em 0.1em var(--green-accent);
}
.text-shadow-yellow {
  text-shadow: 1px 0em 0.1em var(--yellow-accent);
}
.text-shadow-purple {
  text-shadow: 1px 0em 0.1em var(--purple-accent);
}
.text-shadow-orange {
  text-shadow: 1px 0em 0.1em var(--orange-accent);
}
