<div
  class="section"
  style="
    height: fit-content !important;
    padding: 25px 0px 20px 0px;
    min-height: fit-content;
    background-color: var(--dark);
    box-shadow: 0px 0px 20px 15px #25222296;
  "
>
  <div
    class="sub-section"
    style="align-items: flex-start; justify-content: center"
  >
    <div class="my-card my-site">
      <h2>
        <a
          href="https://graphics-playground.com/"
          target="_blank"
          style="font-style: inherit; color: inherit"
          >Graphics Playground</a
        >
      </h2>
      <div class="my-card-content">
        <img
          src="../../../assets/media/graphics-logo.png"
          alt="Graphics Playground"
        />
      </div>
    </div>
    <div class="my-card" style="width: 215px">
      <h2>GitHub</h2>
      <div
        class="my-card-content"
        style="flex-wrap: wrap; text-align: center; background-color: #608b89"
      >
        <img
          src="../../../assets/media/github-logo.png"
          alt="Portfolio"
          style="border-radius: 50%; height: 80px; margin: 15px 0px 0px 0px"
        />
        <p style="width: 100%; font-weight: 900; font-size: 1.1em">mpb9</p>
        <a
          href="https://github.com/mpb9"
          target="_blank"
          style="
            margin-top: 5px;
            border: 2px solid;
            border-radius: 18px;
            padding: 4px 10px;
            font-weight: 900;
            font-style: normal;
            background-color: var(--dark);
            color: inherit;
          "
          >View Portfolio</a
        >
      </div>
    </div>
    <div
      class="badge-base LI-profile-badge"
      data-locale="en_US"
      data-size="large"
      data-theme="dark"
      data-type="VERTICAL"
      data-vanity="michaelbeebe9"
      data-version="v1"
      style="margin: 0px 20px"
    >
      <a
        class="badge-base__link LI-simple-link"
        href="https://www.linkedin.com/in/michaelbeebe9?trk=profile-badge"
      ></a>
    </div>
  </div>
</div>
