<div class="section bg-op">
  <h1 style="line-height: 1.3em; font-size: 3.25em; padding-top: 0.75em">
    <i style="font-size: 0.8em"
      >From the moment my blades first touched the ice,</i
    ><br />
    I've been obsessed with hockey.
  </h1>
  <div class="sub-section" style="font-size: 1.1em; padding-left: 8vw">
    <div class="desc-2">
      <p>
        As the statistical analyst for
        <a href="https://unchockey.com/" target="_blank">UNC Hockey</a>, I
        developed a passion for identifying the nuances of the sport and
        measuring their impact on team success through game data.
      </p>
      <p>
        Driven either by jealousy or brazenness, I decided to challenge my
        understanding of hockey and knowledge of statistics against the best in
        the world, Sportsbook Oddsmakers.
      </p>
      <p>
        I wanted to know if I could predict the outcome of NHL games better than
        the people who make a living off of it. I wanted to know if I could find
        flaws in their models and exploit them. I wanted to know if I could beat
        the house.
      </p>
      <p>
        This project is my endeavor to achieve that. I'll employ machine
        learning algorithms to forecast NHL game outcomes and juxtapose my
        predictions with those of Sportsbooks. Analyzing the data,
        <b class="text-shadow-purple">
          I aim to unearth trends for gaining an edge against the house.</b
        >
      </p>
    </div>
    <div class="media" style="width: 30%; margin-left: 8%">
      <img src="../../../assets/media/young-me-hockey.jpg" alt="Odds Portal" />
    </div>
  </div>
</div>
