<div class="section bg-gy">
  <h1>Step 4: Model and test and model and test..</h1>
  <div class="sub-section">
    <div class="desc-1">
      <p>
        The process of modeling and testing is iterative. The goal is to
        identify the best model(s) that can predict the target variable(s) with
        the highest accuracy. The process involves:
      </p>
      <ul style="text-align: left; margin-left: 15vw">
        <li>Splitting the data into training and testing sets</li>
        <li>Training the model on the training set</li>
        <li>Testing the model on the testing set</li>
        <li>Comparing the predicted values to the actual values</li>
        <li>Adjusting the model and repeating the process</li>
      </ul>
      <p>
        The process is repeated until the model(s) can predict the target
        variable(s) with the highest accuracy.
      </p>
      <div class="media" style="margin-top: 1em">
        <img
          src="../../../assets/media/feature-importance.png"
          alt="Modeling"
          style="
            width: 100%;
            box-shadow: 0 0 6px 1px var(--green);
            border-radius: 3px;
          "
        />
      </div>
      <div class="media" style="margin-top: 1em">
        <img
          src="../../../assets/media/raw-data-predict.png"
          alt="Modeling"
          style="
            width: 100%;
            box-shadow: 0 0 6px 1px var(--green);
            border-radius: 3px;
          "
        />
      </div>
    </div>
  </div>
</div>
