@import "../node_modules/picnic/picnic.min.css";
@import "./app/styles/colors.config.css";
@import "./app/styles/buttons.config.css";
body {
  background-color: var(--dark);
  font-size: 16px;
}

span {
  font-family: inherit;
}
