<div class="section bg-rb">
  <h1>Gather, clean, and recontextualize data</h1>
  <div class="sub-section">
    <div class="media" style="width: 30%; margin-left: 14%">
      <img src="../../../assets/media/oddsportal.jpeg" alt="Odds Portal" />
    </div>
    <div class="desc-2" style="width: 40%">
      <p>
        Raw data used in this project was gathered from a variety of sources,
        including
        <a href="https://www.oddsportal.com/hockey/usa/nhl/" target="_blank"
          >OddsPortal</a
        >
        and
        <a href="https://moneypuck.com/index.html" target="_blank">MoneyPuck</a
        >, via web scraping and accessible CSV files. Data was cleaned and
        recontextualized to fit the needs of the project. This included parsing
        data into readable columns, converting data types, and merging tables.
      </p>
    </div>
    <div class="desc-1" style="padding-top: 2em">
      <p>
        For example, strings scraped from
        <a href="https://www.oddsportal.com/hockey/usa/nhl/" target="_blank"
          >OddsPortal</a
        >
        representing each game were transformed into .csv files:
      </p>
      <div
        style="
          background-color: var(--secondary);
          padding: 0.25em 0.5em;
          border-radius: 0.5em;
          text-align: center;
          width: 90%;
          margin-left: 5%;
        "
      >
        <p
          style="
            padding: 0em;
            font-style: italic;
            font-size: 0.8em;
            font-weight: 100;
            text-align: center;
            color: var(--orange);
          "
        >
          26 Feb 2023 1 X 2 B's 19:00 Arizona Coyotes Arizona Coyotes 2 – 6
          Nashville Predators Nashville Predators 3.13 4.32 2.00 12
        </p>
        <div class="media">
          <img
            src="../../../assets/media/cleaned-data.png"
            alt="Odds Portal"
            style="width: 100%; box-shadow: 0 0 6px 1px var(--green)"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="sub-section"></div>
</div>
